/results/
/plots/
/images/
.snakemake/
dag.svg
dag.pdf
NIPBL_sororin_alpha.png
NIPBL_sororin_D.png
track_w1.csv
tracks_NIPBL_multiprocess.csv
__pycache__/
/models/
.ipynb_checkpoints/
20220907_Rad21-Halo_SPT_2D5_Sororin_noaux_40mW_2_w1_x_0_322_y_253_512.tif
20220907_Rad21-Halo_SPT_2D5_Sororin_noaux_40mW_2_w2_x_0_322_y_253_512.tif
plot_figures_thesis.ipynb
test_hmax.py
analyze_results.ipynb
analyze_results_without_gaps.ipynb
test_workflow.ipynb
workflows/
analyze_results_pia.ipynb
src/hmax_snakemake_pia.py
explore_results.ipynb
src/segmentation_utils.py
src/preprocessing_utils.py
src/tracking_utils.py
bound_fraction.ipynb
bound_fraction/
src/hmax_utils.py
src/msd_utils.py
.DS_store